* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

body.dark {
  background: linear-gradient(135deg,#1f1c2c,#928dab);
  color: white;
}

body.light {
  background: linear-gradient(135deg,#e3f2fd,#ffffff);
  color: #222;
}

.container {
  width: 95%;
  max-width: 500px;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  animation: fade 0.4s ease;
}

body.light .card {
  background: white;
}

.hidden {
  display: none;
}

@keyframes fade {
  from {opacity:0; transform: translateY(10px);}
  to {opacity:1; transform: translateY(0);}
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 12px;
  background: #673ab7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.progress-bar {
  width: 75%;
  height: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  overflow: hidden;
}

#progress {
  height: 8px;
  width: 0%;
  background: #673ab7;
  transition: width 0.3s;
}

#options button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

body.dark #options button {
  background: rgba(255,255,255,0.2);
  color: white;
}

body.light #options button {
  background: #f1f1f1;
}

#options button:hover {
  transform: scale(1.02);
}

.selected {
  background: #673ab7 !important;
  color: white !important;
}

.theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
