body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1c2c;
  color: white;
  transition: 0.3s;
}

body.light {
  background: #f5f5f5;
  color: black;
}

.quiz-container, .result {
  background: white;
  color: black;
  padding: 25px;
  width: 420px;
  border-radius: 15px;
  margin-top: 40px;
  text-align: center;
}

.options button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #eee;
  transition: 0.2s;
}

.options button:hover {
  background: #ddd;
}

.selected {
  background: #673ab7 !important;
  color: white;
}

.correct {
  background: green !important;
  color: white;
}

.wrong {
  background: red !important;
  color: white;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.hidden { display: none; }

.progress-bar {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

#progressFill {
  height: 10px;
  width: 0%;
  background: #673ab7;
  border-radius: 5px;
  transition: width 0.3s;
}

.theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}
